rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {


 match /users/{userId}/chats/{chatId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }}
    // Allow users to read and write their own user document




// rules_version = '2';

// service cloud.firestore {
//   match /databases/{database}/documents {
//     // Allow users to read and write their own user document
//     match /users/{userId} {
//       allow read, write: if request.auth != null && request.auth.uid == userId;
//     }

//     // Allow users to create new chat documents in the "chats" collection
//     match /chats/{chatId} {
//       allow read: if true; // You can set specific read rules here if needed
//       allow create: if request.auth != null;
//     }

//     // Other collections and documents rules go here...
//   }
// }